* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.bio {
  display: flex;
  font-size: 18px;
  justify-content: center;
  width: 50%;
  align-items: center;
}

body {
  background-image: url(../images/galaxy1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
.images-container p {
  position: absolute;
  top: 20%;
  left: 42%;
  transform: translate(-30%, 42%);
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.image-home-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.image-home-button button {
  color: black;
  border-radius: 4px;
  font-size: 16px;
  align-items: center;
  background-color: #6c757d;
  cursor: pointer;
  width: 115px;
}
