* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  background-size: cover;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000814;
  color: white;
}
.navbar {
  font-size: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001d3d;
  z-index: 1;
}

.navbar li a {
  transition: all 0.45s ease;

  color: white;
  text-decoration: none;
}

.navbar li {
  text-align: center;
  margin: 15px 30px;
  list-style-type: none;
}

.navbar li a:hover {
  color: gold;
}
.biowrap {
  padding-top: 15px;
}
.home-background {
  background-image: url(../images/cincinnati.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
}
.home-background h1 {
  position: absolute;
  top: 15%;
  left: 37%;
  color: #ffc300;
  font-size: 40px;
}
.home-background h4 {
  position: absolute;
  top: 25%;
  left: 41%;

  color: #ffc300;
  font-size: 40px;
}
.home-background-button button {
  position: absolute;
  top: 40%;
  left: 46%;

  background-color: #ffc300;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

.bio {
  display: flex;
  margin-top: 50px;
  font-size: 18px;
  text-align: left;
  border: 2px solid white;
  margin-left: 100px;
  margin-right: 100px;
  gap: 20px;
}
.bio-pic {
  display: flex;
  width: 300px;
}

.bio-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bio-details {
  margin-top: 30px;
  text-align: left;
}
.project-wrap {
  padding-top: 20px;
}
.project-header {
  text-align: center;
  margin-top: 50px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(1, 700px);
  gap: 50px;
  margin-top: 50px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #001d3d;
}
.container-images {
  display: flex;
  justify-content: center;
}
.container-images img {
  width: 700px;
  height: 353px;
}

.project-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  align-items: center;
}

.description {
  text-align: center;
}
.description-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  padding-bottom: 20px;
}
.project-info button {
  margin-top: 20px;
  background-color: #ffc300;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 350px;
  text-align: center;
  background-color: #003566;
  justify-content: center;
}
.contact-pic {
  gap: 70px;
  display: flex;
  justify-content: center;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
  justify-content: center;
  text-align: left;
}
.about-home-button button {
  align-items: center;
  margin-top: 20px;
  background-color: #ffc300;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 30px;
}

@media (max-width: 1000px) {
  .home-background {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .home-background h1 {
    position: absolute;
    top: 30%;
    left: 41%;
    color: #ffc300;
    font-size: 20px;
  }
  .home-background h4 {
    position: absolute;
    top: 35%;
    left: 43%;

    color: #ffc300;
    font-size: 20px;
  }
  .home-background-button button {
    position: absolute;
    top: 45%;
    left: 44%;

    background-color: #ffc300;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 30px;
  }
  .projects {
    grid-template-columns: repeat(1, 500px);
    font-size: 10px;
  }
  .projects img {
    width: 500px;
    height: 300px;
  }
  .bio {
    font-size: 14px;
  }
  .bio-pic {
    width: 200px;
    height: 200px;
  }
  .bio-details {
    margin: 20px;
    font-size: 14px;
  }
  .contact {
    height: 250px;
  }
  .contact-info {
    font-size: 20px;
  }
  .contact-pic {
    gap: 30px;
  }
  .contact-pic img {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 700px) {
  .navbar {
    display: block;
    justify-content: left;
  }
  .navbar li {
    text-align: left;
  }
  .home-background {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .home-background h1 {
    position: absolute;
    top: 25%;
    left: 41%;
    color: #ffc300;
    font-size: 20px;
  }
  .home-background h4 {
    position: absolute;
    top: 30%;
    left: 44%;

    color: #ffc300;
    font-size: 20px;
  }
  .home-background-button button {
    position: absolute;
    top: 35%;
    left: 47%;

    background-color: #ffc300;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    width: 75px;
    height: 25px;
  }
  .projects {
    grid-template-columns: repeat(1, 400px);
    font-size: 10px;
  }
  .project-info {
    gap: 10px;
  }
  .projects img {
    width: 400px;
    height: 150px;
  }
  .projects button {
    width: 75px;
    height: 30px;
    font-size: 14px;
  }
  /* .bio {
    font-size: 14px;
  } */

  .bio-pic {
    width: 150px;
    height: 150px;
  }
  .bio-header {
    font-size: 10px;
  }
  .bio-details {
    font-size: 8px;
    margin-top: 20px;
  }
  .contact {
    height: 250px;
  }
  .contact-info {
    font-size: 14px;
  }
  .contact-pic {
    gap: 30px;
  }
  .contact-pic img {
    width: 250px;
    height: 200px;
  }
}
